
.logo {
    height: 5em;
}

.title-section {
    margin-top: 5rem;
    align-self: center;
}

.title {
    color: #000;
    font-size: 6rem;
    letter-spacing: 1rem;
    text-align: center;
}

.subtitle {
    color: #444;
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 4rem;
}

.card {
    width: 220px;
    height: 140px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: transform 0.2s ease;
}
    
    .card:hover {
        transform: scale(1.05);
    }

    .card.pixelbot:hover {
        filter: drop-shadow(0 0 1em #5faea1);
    }

    .card.turtlebot:hover {
        filter: drop-shadow(0 0 1em #1f3a63);
    }

.pixelbot {
    background-color: #5faea1;
}

.turtlebot {
    background-color: #1f3a63;
}